# PostgreSQL connection string (Prisma)
# Replace with your own Neon/Supabase/ElephantSQL connection string for Vercel
DATABASE_URL="postgresql://user:password@localhost:5432/cashplow?schema=public"

# Optional: Set Node Env
NODE_ENV="development"
